//検索用のテキストボックス(虫眼鏡アイコン付き)
.searchInput{

  position:relative;
  display: flex;

  .searchText{
    display: inline-block;
    height: 35px;
    width: 250px;
    padding-inline-start: 30px;
    margin-right: 5px;
    border-radius:10px;
    border-width: 1px;
    border-color: $searchBorderColor;
    outline: none;
  } 
  //テキストボックス内の虫眼鏡アイコン
  .searchIcon{
    position: absolute;
    top:8px;
    left: 10px;
    z-index: 10;
    border-width: 1px;
    border-color: $searchBorderColor;
  }
}

//検索ボタン
.searchBtn{
  display: inline-block;
  width:100px;
  height:35px;
  color: $searchBorderColor;
  background:$searchBtnColor;
  border-width: 1px;
  border-color: $searchBorderColor;
  outline: none;
  border-radius:10px;
}

//詳細ボタン
.contentButton{
  display:block;          
  width:50%;
  margin: 0 auto;
  text-align:center;
  padding:20px;
  font-size:15px;
  font-weight:normal;
  text-decoration:none;
  border-radius:10px;
}