
// メインコンテンツ（ダミーサイトイメージ部）
.archive-head-img {
  background-image: url(../../img/head.png);
  background-size: cover;
  position: relative;
  height: 250px;
  z-index: 0;

  ::before{
    /* 透過した黒を上から重ねるイメージ */
    background-color: rgba(0,0,0,0.4);
    @include absPosition(0, 0, 0, 0);
    content: ' ';
    z-index: -1;
  }

  p{
    margin-left: 55px;
    line-height: 250px;
    font-size: 60px;
    color: $dummyImgFontColor;
  }
  span{
    font-size: 20px;
    vertical-align: top;
  }
}

//アーカイブページのコンテンツ
.archive-contents{
  margin: 40px 60px;

  h3{
    font-size: 36px;
    font-weight: bold;
  }

  p{
    margin:20px 0 40px 0;    
    font-size: 16px;
    font-weight: normal;
  }

  //アーカイブページのコンテンツ内のメニュー一覧
  .archive-content-list{
    display: flex;
    flex-direction: column ;

    //コンテンツ内の各メニューの設定
    .archive-content{
      display: flex;
      margin-top: 20px;
      margin-bottom:20px;

      img{
        width: 50%;
      }
      .right-sentense{
        background-color: $archiveMenuRightBkColor;
      }

      .archive-right-sentense-Tiele{
        color: $archiveMenuFontColor;
      }

      .archive-Sentense{
        color: $archiveMenuFontColor;
        margin-left: 20px;
        margin-right: 20px;
        
        h3{
          margin-top: 50px;
        }

        h4{
          margin-top: 50px;
        }

        p{
          margin-top: 20px;
          margin-bottom: 90px;
        }

        a{
          color:$archiveMenuBtnColor;
          background-color:$archiveMenuBtnBkColor;
        }
      }
    }
  }

}

.pager_part{
  margin-top:20px;
  margin-bottom:20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  span{
    vertical-align: top;
    margin-right: 10px;
  }
  .pagger {
    li{
      display: inline;
      padding:10px 15px;
    }
    .line{
      border:1px #ccc solid;color:#000053;
      border-radius: 5px / 5px;  

    }
  }
}

.pager_part_iphone{
  display: none;
  }
