@charset "UTF-8";

@import "../Foundation/variable";
@import "../Foundation/mixin";

@media screen and (max-width: 896px) {

//アーカイブページのコンテンツ
.archive-contents{

  //アーカイブページのコンテンツ内のメニュー一覧
  .archive-content-list{

    //コンテンツ内の各メニューの設定
    .archive-content{
      display: flex;
      flex-direction: column ;

      img{
        width: 100%;
        height: 50vh;       
      }

      .archive-Sentense{
        p{
          margin-bottom: 40px;
        }

        a{
          margin-bottom: 40px;
        }
      }
    }
  }
}

.pager_part{
display: none;
}

.pager_part_iphone {
  margin-top:10px;
  margin-bottom:10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;    
}

}