
// メインコンテンツ（ダミーサイトイメージ部）
.single-head-img {
  background-image: url(../../img/head.png);
  background-size: cover;
  height: 400px;

  h1{
    color: white;
    font-size: 60px;
    line-height: 400px;
    margin-left: 50px;
  }
}

//アーカイブページのコンテンツ
.single-contents{
  margin: 40px 60px;

  .single-first-sentense{
    h2{
      font-size: 36px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    >p{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    h3{
      font-size: 28px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    h4,h5,h6{
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
    }  
  }

  .quote{
    background-color: #F5F5F5;
    padding:50px 60px;

    .quotelink{
      margin-top: 60px;
    }
  }

  .single-mid-img {
    background-image: url(../../img/head.png);
    background-size: cover;
    height: 400px;  
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .single-left-img-part{
    
    margin-top: 50px;
    margin-bottom:50px;
    display: flex;

    img{
      width: 50%;
    }
    p{
      margin-left: 20px;
    }
  }

  .single-right-img-part{
    
    margin-top: 50px;
    margin-bottom:50px;
    display: flex;

    img{
      width: 50%;
    }
    p{
      margin-right: 20px;
    }
  }

  .single-center-img-part{
    
    margin-top: 50px;
    margin-bottom:50px;
    display: flex;
    justify-content: center;

    img{
      width: 50%;
    }
  }

  .single-multiple-img-part{
    margin-top: 50px;
    margin-bottom:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    img{
      margin-top: 10px;
      margin-bottom: 10px;
      width: 30%;
    }
  }
}


.list{
  padding-top: 20px;
  padding-bottom: 20px;
}

.list_tab{
  padding-left: 20px;
}

.list_num{
  padding-left: 20px;
}

.list_none{
  list-style-type: none;
}

table, td ,th {
  border: 1px solid black;
}
table {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  font-size: 30px;
  width: 100%;
}

th{
  font-weight: normal;
  text-align: left;
}

td, th {
  padding: 10px 20px;
} 

.single_table tr td:nth-child(1) {
  width:40%;
}

.p-sinngle_p{
  margin: 20px 0;
}

