
@charset "UTF-8";

@import "../Foundation/variable";
@import "../Foundation/mixin";

@media screen and (max-width: 1024px) {
/* 1024pxまでの幅の場合に適応される */

//アーカイブページのコンテンツ
.single-contents{
  .single-multiple-img-part{
    margin-top: 50px;
    margin-bottom:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    img{
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;
      width: 45%;
    }
  }
}

}

