@charset "UTF-8";

@import "../Foundation/variable.scss";
@import "../Foundation/mixin.scss";

@media screen and (max-width: 1024px) {
/* 1024pxまでの幅の場合に適応される */

/*フロントページのコンテンツ部
--------------------------- */
article{
  width:100%
}

// メインコンテンツ（トップ検索部）
.head{
 
  display: block;
  height: 240px;
  
  //検索分のタイトル
  h1{
    line-height: 100px;
    margin: 0 auto;
    text-align:center;
  }
  form{
    display: block;
    margin: 0 auto;
    padding: 10px;
  }
  p{
    display: block;
    text-align:right;
    padding-top: 20px;
    padding-right: 30px;
    font-size: 2.0rem;
    color: $searchTitleFontColor;
    font-weight: bold;
  }
}

/*サイドバー
--------------------------- */
aside{
  display: none;
}

}

